<!doctype html>
<title>
  Computing Request
</title>
<h2>
  Computing your request. Please hold.
</h2>

<!-- <p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</p> -->

<p>
  Your request has started processing successfully! Please download the results from the /home/gauserapp/openMVS/demo folder under the token ID you were given earlier.
</p>