<!doctype html>
<title>
  Upload Images - Photogrammetry
</title>
<h2>
  Select images to upload
</h2>
<p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</p>

<form method="post" action="/upload" enctype="multipart/form-data">
  <dl>
    <p>
      <input type="file" name="files[]" multiple="true" autocomplete="off" required>
    </p>
  </dl>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>

<form action="/computePhotogrammetry/" method="post">
  <button name="computePhotogrammetryButton" type="submit">Execute Photogrammetry</button>
</form>

<form action="/computeObjectDetection/" method="post">
  <button name="computeObjectDetection" type="submit">Execute Object Detection</button>
</form>
